<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.polluxlab.aquamob"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Home"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VersionCheckActivity"
            android:label="Updates"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FormFieldsPagerActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FormDataListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NewFormDataActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7e9922780de0a36675b241abe1b0b3f74afb7974" />
    </application>

</manifest>
